<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trumpmeter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="notification is-success">
        <!-- #TODO: Figure out how to make this close -->
        <button type="button" class="delete"></button>
        <%= notice %>
      </p>
    <% end %>
    <% if alert %>
      <p class="notification is-danger">
        <button type="button" class="delete"></button>
        <%= alert %>
      </p>
    <% end %>

    <nav class="nav">
      <div class="nav-left">
        <%= link_to "Trump Meter", welcome_index_path, class: 'nav-item' %>
        <%= link_to "About / Contact", welcome_about_path, class: 'nav-item' %>
        <%= link_to "Shop", welcome_shop_path, class: 'nav-item' %>
      </div>

      <div class="nav-center">
        <a class="nav-item">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
        <a class="nav-item" href="http://www.facebook.com">
          <span class="icon">
            <i class="fa fa-facebook"></i>
          </span>
        </a>
      </div>

      <div class="nav-right">
        <div class="nav-item">
          <p class="control">
            <% if current_user %>
            Signed in as: <strong><%= current_user.email %></strong>
            <div class="nav-item">
              <p class="control">|
              <%= link_to 'Edit profile', edit_user_registration_path %>
              </p>
            </div>
            <!-- Nav bar sign out -->
            <div class="nav-item">
              <div class="button is-outlined is-info">
                <p class="control">
                  <span class="icon">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                  </span>
                  <span>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                  </span>
                </p>
              </div>
            </div>

            <% else %>
            <div class="nav-item">
              <div class="button is-outlined is-info">
                <p class="control">
                  <span class="icon">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                  </span>
                  <span>
                    <%= link_to "Sign in", new_user_session_path %>
                  </span>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </nav>






    <!-- This sets off an ActionController::RoutingError (no route matches [GET] "../javascripts/bulma.js") -->
    <!-- This is the script for the hamburger menu that I haven't included yet -->
    <!-- <script async type="text/javascript" src="../javascripts/bulma.js"></script> -->


    <%= yield %>

  </body>
</html>
