<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/trumpmeter_stamp2.jpg">
    <title>Trumpmeter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
    <div class="container">
      <p class="notification is-success">
        <!-- #TODO: Figure out how to make this close -->
        <button type="button" class="delete"></button>
        <%= notice %>
      </p>
    <% end %>
    <% if alert %>
      <p class="notification is-danger">
        <button type="button" class="delete"></button>
        <%= alert %>
      </p>
    </div>
    <% end %>


  <section class="hero is-dark flex is-flex">
      <nav class="nav">
        <div class="nav-left">
          <%= link_to image_tag("trumpmeter_stamp2.jpg"), welcome_index_path, class: 'nav-item' %>
          <%= link_to "Home", welcome_index_path, class: 'nav-item' %>
          <%= link_to "About", welcome_about_path, class: 'nav-item' %>
          <%= link_to "Shop", welcome_shop_path, class: 'nav-item' %>
          <% if current_user && (current_user.poll != nil) %>
          <%= link_to "Poll", poll_path(current_user.poll), class: 'nav-item' %>
          <% else %>
          <%= link_to "Poll", new_poll_path, class: 'nav-item' %>
          <% end %>
        </div>

        <div class="nav-center">
          <a class="nav-item">
            <span class="icon">
              <i class="fa fa-twitter"></i>
            </span>
          </a>
          <a class="nav-item" href="http://www.facebook.com">
            <span class="icon">
              <i class="fa fa-facebook"></i>
            </span>
          </a>
        </div>

        <div class="nav-right">
          <div class="nav-item">
              <% if current_user %>
              Signed in as: <strong><%= current_user.email %></strong>
              <div class="nav-item">
                <p class="control">|
                <%= link_to 'Edit profile', edit_user_registration_path %>
                </p>
              </div>
              <!-- Nav bar sign out -->
              <div class="nav-item">
                  <p class="control">
                      <%= link_to " Sign Out", destroy_user_session_path, class: "button fa fa-sign-out is-outlined is-info", method: :delete %>
                  </p>
              </div>
              <% else %>
              <div class="nav-item">
                  <p class="control">
                      <%= link_to " Sign In", new_user_session_path, class: "button fa fa-sign-in is-outlined is-info" %>
                  </p>
              </div>
              <% end %>
          </div>
        </div>
      </nav>
    </section>


    <!-- This sets off an ActionController::RoutingError (no route matches [GET] "../javascripts/bulma.js") -->
    <!-- This is the script for the hamburger menu that I haven't included yet -->
    <!-- <script async type="text/javascript" src="../javascripts/bulma.js"></script> -->


    <%= yield %>
    <section class="hero is-dark">
      <div class="hero-foot">
        <div class="container">
          <div class="tabs is-centered">
            <ul>
              <li>Made for fun</li>
              <li><a>Contact us</a></li>
              <li><a>Shop</a></li>
              <li><a>Copyright 2017 Trump Meter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
